.black-op-0{
    background-color: #ffffff;
}

.black-op-0-1{
    background-color: rgb(229.5, 229.5, 229.5);
}

.black-op-0-2{
    background-color: rgb(204, 204, 204);
}

.black-op-0-3{
    background-color: rgb(178.5, 178.5, 178.5);
}

.black-op-0-4{
    background-color: rgb(153, 153, 153);
}

.black-op-0-5{
    background-color: rgb(127.5, 127.5, 127.5);
}

.black-op-0-6{
    background-color: rgb(102,102,102);
}

.black-op-0-7{
    background-color: rgb(76.5,76.5,76.5);
}

.black-op-0-8{
    background-color: rgb(51,51,51);
}

.black-op-1-0{
    background-color: rgb(0,0,0);
}

.red-op-0-1{
    background-color: rgb(241, 67, 54);
}

.red-op-0-2{
    background-color: rgba(244, 67, 54, 0.2);
}

.red-op-0-3{
    background-color: rgba(244, 67, 54, 0.3);
}

.red-op-0-4{
    background-color: rgba(244, 67, 54, 0.4);
}

.red-op-0-5{
    background-color: rgba(244, 67, 54, 0.5);
}

.red-op-0-6{
    background-color: rgba(244, 67, 54, 0.6);
}

.red-op-0-7{
    background-color: rgba(244, 67, 54, 0.7);
}

.red-op-0-8{
    background-color: rgba(244, 67, 54, 0.8);
}

.red-op-0-9{
    background-color: rgba(244, 67, 54, 0.8);
}

.red-op-1{
    background-color: rgba(244, 67, 54, 1);
}

.pink-op-0-1{
    background-color: rgba(233, 30, 99, 0.1);
}

.pink-op-0-2{
    background-color: rgba(233, 30, 99, 0.2);
}

.pink-op-0-3{
    background-color: rgba(233, 30, 99, 0.3);
}

.pink-op-0-4{
    background-color: rgba(233, 30, 99, 0.4);
}

.pink-op-0-5{
    background-color: rgba(233, 30, 99, 0.5);
}

.pink-op-0-6{
    background-color: rgba(233, 30, 99, 0.6);
}

.pink-op-0-7{
    background-color: rgba(233, 30, 99, 0.7);
}

.pink-op-0-8{
    background-color: rgba(233, 30, 99, 0.8);
}

.pink-op-0-9{
    background-color: rgba(233, 30, 99, 0.9);
}

.pink-op-1{
    background-color: rgba(233, 30, 99, 1);
}

.purple-op-0-1{
    background-color: rgba(156, 39, 176, 0.1);
}

.purple-op-0-2{
    background-color: rgba(156, 39, 176, 0.2);
}

.purple-op-0-3{
    background-color: rgba(156, 39, 176, 0.3);
}

.purple-op-0-4{
    background-color: rgba(156, 39, 176, 0.4);
}

.purple-op-0-5{
    background-color: rgba(156, 39, 176, 0.5);
}

.purple-op-0-6{
    background-color: rgba(156, 39, 176, 0.6);
}

.purple-op-0-7{
    background-color: rgba(156, 39, 176, 0.7);
}

.purple-op-0-8{
    background-color: rgba(156, 39, 176, 0.8);
}

.purple-op-0-9{
    background-color: rgba(156, 39, 176, 0.9);
}

.purple-op-1{
    background-color: rgba(156, 39, 176, 1);
}

.violet-op-0-1{
    background-color: rgba(103, 58, 183, 0.1);
}

.violet-op-0-2{
    background-color: rgba(103, 58, 183, 0.2);
}

.violet-op-0-3{
    background-color: rgba(103, 58, 183, 0.3);
}

.violet-op-0-4{
    background-color: rgba(103, 58, 183, 0.4);
}

.violet-op-0-5{
    background-color: rgba(103, 58, 183, 0.5);
}

.violet-op-0-6{
    background-color: rgba(103, 58, 183, 0.6);
}

.violet-op-0-7{
    background-color: rgba(103, 58, 183, 0.7);
}

.violet-op-0-8{
    background-color: rgba(103, 58, 183, 0.8);
}

.violet-op-0-9{
    background-color: rgba(103, 58, 183, 0.9);
}

.violet-op-1{
    background-color: rgba(103, 58, 183, 1);
}

.blue-op-0-1{
    background-color: rgba(33, 150, 243, 0.1);
}

.blue-op-0-2{
    background-color: rgba(33, 150, 243, 0.2);
}

.blue-op-0-3{
    background-color: rgba(33, 150, 243, 0.3);
}

.blue-op-0-4{
    background-color: rgba(33, 150, 243, 0.4);
}

.blue-op-0-5{
    background-color: rgba(33, 150, 243, 0.5);
}

.blue-op-0-6{
    background-color: rgba(33, 150, 243, 0.6);
}

.blue-op-0-7{
    background-color: rgba(33, 150, 243, 0.7);
}

.blue-op-0-8{
    background-color: rgba(33, 150, 243, 0.8);
}

.blue-op-0-9{
    background-color: rgba(33, 150, 243, 0.9);
}

.blue-op-1{
    background-color: rgba(33, 150, 243, 1);
}

.lightblue-op-0-1{
    background-color: rgba(3, 169, 244, 0.1);
}

.lightblue-op-0-2{
    background-color: rgba(3, 169, 244, 0.2);
}

.lightblue-op-0-3{
    background-color: rgba(3, 169, 244, 0.3);
}

.lightblue-op-0-4{
    background-color: rgba(3, 169, 244, 0.4);
}

.lightblue-op-0-5{
    background-color: rgba(3, 169, 244, 0.5);
}

.lightblue-op-0-6{
    background-color: rgba(3, 169, 244, 0.6);
}

.lightblue-op-0-7{
    background-color: rgba(3, 169, 244, 0.7);
}

.lightblue-op-0-8{
    background-color: rgba(3, 169, 244, 0.8);
}

.lightblue-op-0-9{
    background-color: rgba(3, 169, 244, 0.9);
}

.lightblue-op-1{
    background-color: rgba(3, 169, 244, 1);
}

.seablue-op-0-1{
    background-color: rgba(0, 188, 212, 0.1);
}

.seablue-op-0-2{
    background-color: rgba(0, 188, 212, 0.2);
}

.seablue-op-0-3{
    background-color: rgba(0, 188, 212, 0.3);
}

.seablue-op-0-4{
    background-color: rgba(0, 188, 212, 0.4);
}

.seablue-op-0-5{
    background-color: rgba(0, 188, 212, 0.5);
}

.seablue-op-0-6{
    background-color: rgba(0, 188, 212, 0.6);
}

.seablue-op-0-7{
    background-color: rgba(0, 188, 212, 0.7);
}

.seablue-op-0-8{
    background-color: rgba(0, 188, 212, 0.8);
}

.seablue-op-0-9{
    background-color: rgba(0, 188, 212, 0.9);
}

.seablue-op-1{
    background-color: rgba(0, 188, 212, 1);
}

.green-op-0-1{
    background-color: #ECFDF8;
}

.green-op-0-2{
    background-color: #C7F9EA;
}

.green-op-0-3{
    background-color: #A2F6DB;
}

.green-op-0-4{
    background-color: #7DF2CD;
}

.green-op-0-5{
    background-color: #58EEBF;
}

.green-op-0-6{
    background-color: #33EBB1;
}

.green-op-0-7{
    background-color: #16DF9F;
}

.green-op-0-8{
    background-color: #12BA85;
}

.green-op-0-9{
    background-color: #0F956A;
}

.green-op-1{
    background-color: #0B6F50;
}

.yellow-op-0-1{
    background-color: rgba(255, 235, 59, 0.1);
}

.yellow-op-0-2{
    background-color: rgba(255, 235, 59, 0.2);
}

.yellow-op-0-3{
    background-color: rgba(255, 235, 59, 0.3);
}

.yellow-op-0-4{
    background-color: rgba(255, 235, 59, 0.4);
}

.yellow-op-0-5{
    background-color: rgba(255, 235, 59, 0.5);
}

.yellow-op-0-6{
    background-color: rgba(255, 235, 59, 0.6);
}

.yellow-op-0-7{
    background-color: rgba(255, 235, 59, 0.7);
}

.yellow-op-0-8{
    background-color: rgba(255, 235, 59, 0.8);
}

.yellow-op-0-9{
    background-color: rgba(255, 235, 59, 0.9);
}

.yellow-op-1{
    background-color: rgba(255, 235, 59, 1);
}